grant{
permission java.net.SocketPermission "*:1024-65535","connect,accept";
permission java.net.SocketPermission ":80","connect";
permission java.security.AllPermission "","";
permission java.io.FilePermission "http://localhost/class/TPRMIclient/build/classes/Special/", "read,write";  
};